<ion-menu type="overlay" contentId="content" side="start">
  <ion-header>
    <ion-toolbar>
      <ion-title>                
        <button class="navbar-toggler navbar-brand" type="button" (click)="toggleMenu()">
          <ion-icon name="menu"></ion-icon>
        </button>
          Menu
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
        <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
          <ion-icon slot="start" [name]="p.icon"></ion-icon>
            <ion-label> {{p.title}}</ion-label>
        </ion-item>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let s of p.subPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[s.url]">
              <ion-label>{{s.title}}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet id="content" main></ion-router-outlet>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="flash"></ion-icon>
      <ion-label>Tab One</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="images"></ion-icon>
      <ion-label>Gallery</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="send"></ion-icon>
      <ion-label>Tab Three?</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="quienes-somos">
      <ion-icon name="people"></ion-icon>
      <ion-label>¿Quienes somos?</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="layout">
      <ion-icon name="send"></ion-icon>
      <ion-label>layout ??</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="home">
      <ion-icon name="send"></ion-icon>
      <ion-label>home ??</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="login">
      <ion-icon name="send"></ion-icon>
      <ion-label>login ??</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

