<ion-menu type="overlay" contentId="content" side="start">
  <ion-header>
    <ion-toolbar auto-hide="false">
      <ion-title auto-hide="false">                
        <button class="navbar-toggler" type="button" (click)="toggleMenu()">
          <ion-icon name="menu"> </ion-icon> Menu
        </button>
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
        <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
          <ion-icon slot="start" [name]="p.icon"></ion-icon>
            <ion-label> {{p.title}}</ion-label>
        </ion-item>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let s of p.subPages">
            <ion-item [routerDirection]="'root'" [href]="[s.url]">
              <ion-label>{{s.title}}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet id="content" main></ion-router-outlet>