<ion-header>
                <nav class="navbar navbar-expand-lg bg-primary">
                    <div class="container">
                        <a class="navbar-brand" href="#">
                            <button class="navbar-toggler navbar-toggler-right" type="button" (click)="toggleMenu()">
                                <ion-icon name="menu"></ion-icon>
                            </button>
                            Menu
                        </a>
                        <div class="collapse navbar-collapse" id="navbar-menu">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="#pk">Link</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="tabs/quienes-somos#quienes-somos">Link</a>
                                </li>
                                <li class="nav-item">
                                    <div ngbDropdown class="d-inline-block dropdown">
                                        <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle href="tabs/quienes-somos#quienes-somos">Dropdown</a>
                                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-primary">
                                            <a class="dropdown-item">Action - 1</a>
                                            <a class="dropdown-item">Another Action</a>
                                            <a class="dropdown-item">Something else is here</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
</ion-header>

<ion-content class="welcome">
    <ion-slides pager loop="false" autoplay="false" index="1">
        <ion-slide padding>
            <div class="col-md-4">
                <div class="card-avatar">
                    <a href="#avatar"><img src="assets/icon/favicon.png" alt="..."></a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Nombre del Evento</h4>
                                <h6 class="card-category">fecha del evento</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                        Descripcion del evento,Teamwork is so important that it is virtually impossible for you to reach the heights of your capabilities or make the money that you want without becoming very good at it.
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </ion-slide>

        <ion-slide padding>
            <div class="col-md-4">
                <div class="card-avatar">
                    <a href="#avatar"><img src="assets/icon/favicon.png" alt="..."></a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Nombre del Evento</h4>
                                <h6 class="card-category">fecha del evento</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                        Descripcion del evento,Teamwork is so important that it is virtually impossible for you to reach the heights of your capabilities or make the money that you want without becoming very good at it.
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </ion-slide>
                <ion-slide padding>
            <div class="col-md-4">
                <div class="card-avatar">
                    <a href="#avatar"><img src="assets/icon/favicon.png" alt="..."></a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Nombre del Evento</h4>
                                <h6 class="card-category">fecha del evento</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                        Descripcion del evento,Teamwork is so important that it is virtually impossible for you to reach the heights of your capabilities or make the money that you want without becoming very good at it.
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </ion-slide>
    </ion-slides>

        <!--================Home Banner Area =================-->
        <section class="home_banner_area" id="quienes-somos">
            <div class="banner_inner">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="banner_content">
                                <h2>Fundacion manos que dejan huella</h2>
                                <p>¿Quienes somos? <br />Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim. sed do eiusmod tempor incididunt.</p>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="home_left_img">
                                <img class="img-fluid" src="assets/img/fundacion.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================End Home Banner Area =================-->

    <!--================seccion prueba TODO =================-->
        <section class="made_life_area p_120">
            <div class="container">
                <div class="made_life_inner">
                    <div class="row made_life_text">
                        <div class="col-lg-6">
                            <div class="chart_img">
                                <img class="img-fluid" src="assets/icon/favicon.png" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="left_side_text tim-title">
                                <h2>Vision</h2>
                                <h3>We’ve made a life <br />that will change you</h3>
                                <h6>We are here to listen from you deliver exellence</h6>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp or incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
                                <a class="main_btn" href="#">Get Started Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--================Made Life Area =================-->
        <section class="made_life_area made_white p_120">
            <div class="container">
                <div class="made_life_inner">
                    <div class="row made_life_text">
                        <div class="col-lg-6">
                            <div class="left_side_text tim-title">
                                <h2>Mision</h2>
                                <h3>We’ve made a life <br />that will change you</h3>
                                <h6>We are here to listen from you deliver exellence</h6>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp or incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
                                <a class="main_btn" href="#">Get Started Now</a>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="chart_img">
                                <img class="img-fluid" src="assets/img/chart.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!--================Made Life Area =================-->
        <section class="made_life_area made_white p_120">
            <div class="container">
                <div class="made_life_inner">
                    <div class="row made_life_text">
                        <div class="col-lg-6">
                            <div class="chart_img">
                                <img class="img-fluid" src="assets/img/banner/home-left-1.png" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="left_side_text tim-title">
                                <h2>Valores</h2>
                                <h3>We’ve made a life <br />that will change you</h3>
                                <h6>We are here to listen from you deliver exellence</h6>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp or incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
                                <a class="main_btn" href="#">Get Started Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================End Made Life Area =================-->

    <!--================Impress Area =================-->
        <section class="impress_area p_120">
            <div class="container">

                <div class="made_life_inner">
                    <div class="row made_life_text">

                <div class="impress_inner col-lg-6">
                    <h2>Historia</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                </div>
                <div class="impress_inner col-lg-6">
                    <p>sigue la historia Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
                </div>
            </div>
        </div>
            </div>
        </section>
        <!--================End Impress Area =================--> 



    <!--================seccion prueba TODO =================-->
        <section class="made_life_area p_120">
            <div class="container">
                <div class="made_life_inner">
                    <div class="row made_life_text">
                        <div class="col-lg-6">
                            <div class="chart_img">
                                <img class="img-fluid" src="assets/icon/favicon.png" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="left_side_text tim-title">
                                <h2>objetivo general</h2>
                                <h3>We’ve made a life <br />that will change you</h3>
                                <h6>We are here to listen from you deliver exellence</h6>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp or incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
                                <a class="main_btn" href="#">Get Started Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    <!--================seccion prueba TODO =================-->
        <section class="made_life_area p_120 home_banner_area_pick">
            <div class="container">
                <div class="made_life_inner">
                    <div class="row made_life_text">
                        <div class="col-lg-6">
                            <div class="chart_img">
                                <img class="img-fluid" src="assets/icon/favicon.png" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="left_side_text tim-title">
                                <h2>objetivos especificos</h2>
                                <h3>We’ve made a life <br />that will change you</h3>
                                <h6>We are here to listen from you deliver exellence</h6>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp or incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
                                <a class="main_btn" href="#">Get Started Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

</ion-content>
