<ion-header>
  <ion-toolbar>

    <ion-title>
        <ion-menu-toggle>
          <ion-button>
            <ion-icon name="menu"></ion-icon>
          </ion-button>
        </ion-menu-toggle>
        Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/shapes.svg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Welcome to Ionic</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p> AQUI IMPRIMO LO QUE AGARRO DEL APIII</p>
        <tbody>
          <tr *ngFor="let prueba of pruebas; let indice=index">
            <td >{{prueba.pru_id}}</td>
            <td>{{prueba.pru_name }}</td>
            </tr>
        </tbody>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Resources</ion-label>
      </ion-list-header>
      <ion-item href="https://ionicframework.com/docs/">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Ionic Documentation</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/building/scaffolding">
        <ion-icon slot="start" color="medium" name="build"></ion-icon>
        <ion-label>Scaffold Out Your App</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/layout/structure">
        <ion-icon slot="start" color="medium" name="grid"></ion-icon>
        <ion-label>Change Your App Layout</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/theming/basics">
        <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
        <ion-label>Theme Your App</ion-label>
      </ion-item>
    </ion-list>

    
    <ion-slides pager loop="false" autoplay="false" index="1">
        <ion-slide padding>
            <div class="col-md-4">
                <div class="card-avatar">
                    <a href="#avatar"><img src="assets/icon/favicon.png" alt="..."></a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Nombre del Evento</h4>
                                <h6 class="card-category">fecha del evento</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                        Descripcion del evento,Teamwork is so important that it is virtually impossible for you to reach the heights of your capabilities or make the money that you want without becoming very good at it.
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </ion-slide>

        <ion-slide padding>
            <div class="col-md-4">
                <div class="card-avatar">
                    <a href="#avatar"><img src="assets/icon/favicon.png" alt="..."></a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Nombre del Evento</h4>
                                <h6 class="card-category">fecha del evento</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                        Descripcion del evento,Teamwork is so important that it is virtually impossible for you to reach the heights of your capabilities or make the money that you want without becoming very good at it.
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </ion-slide>
                <ion-slide padding>
            <div class="col-md-4">
                <div class="card-avatar">
                    <a href="#avatar"><img src="assets/icon/favicon.png" alt="..."></a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-profile card-plain">
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">Nombre del Evento</h4>
                                <h6 class="card-category">fecha del evento</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                        Descripcion del evento,Teamwork is so important that it is virtually impossible for you to reach the heights of your capabilities or make the money that you want without becoming very good at it.
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                        <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </ion-slide>
    </ion-slides>
</ion-content>