<ion-header>
    <nav class="navbar navbar-expand-lg bg-danger">
        <div class="container">
            <a class="navbar-brand">
                <button class="navbar-toggler ion-icon-nav" type="button" (click)="toggleMenu()">
                    <ion-icon name="menu"></ion-icon>
                </button>
                <a href="/es/home">Manos que dejan huellas </a>
            </a>
            <div class="collapse navbar-collapse" id="navbar-menu">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <div ngbDropdown class="d-inline-block dropdown">
                            <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle>¿Quienes somos?</a>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-danger">
                                <a class="dropdown-item" href="es/quienes-somos#mision">Mision</a>
                                <a class="dropdown-item" href="es/quienes-somos#vision">Vision</a>
                                <a class="dropdown-item" href="es/quienes-somos#valores">Valores</a>
                                <a class="dropdown-item" href="es/quienes-somos#objetivos">Objetivos
                                </a>
                                <a class="dropdown-item" href="es/quienes-somos#historia">Historia
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/es/publicaciones">Publicaciones</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/es/contactanos">Contactanos</a>
                    </li>
                    <li class="nav-item">
                        <div ngbDropdown class="d-inline-block dropdown" *ngIf="prueba==true">
                            <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle>Usuario</a>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-danger">
                                <a class="dropdown-item" href="/es/usuario">Gestionar usuario(s)</a>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.facebook.com/Dejatuhuella777">
                            <ion-icon class="ion-icon-nav" name="logo-facebook" aria-hidden="true"></ion-icon>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://twitter.com/dejatushuellas">
                            <ion-icon class="ion-icon-nav" name="logo-twitter" aria-hidden="true"></ion-icon>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.instagram.com/dejatushuellas">
                            <ion-icon class="ion-icon-nav" name="logo-instagram" aria-hidden="true"></ion-icon>
                        </a>
                    </li>
                    <li class="nav-item" >
                        <a class="navbar-brand" href="/es/login" *ngIf="prueba==false">Entrar</a>
                        <a class="navbar-brand" (click)="logout()" *ngIf="prueba==true">Salir</a>
                        
                    </li>
                </ul>
            </div>

        </div>
    </nav>
</ion-header>

<ion-content>
       <div class="section">
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">Contactanos</h2>
                        <p class="description">Siguenos en nuestras redes sociales o mandanos un correo electronico para ponernos en contacto contigo<br/>Recuerda que por estos medios tambien podemos recibir tus donativos o cualquier tipo de colaboracion de tu parte</p>
                    </div>
                </div>
                <div class="row justify-content-md-center sharing-area text-center">
                	<div class="text-center col-md-12 col-lg-8">
                        <h3 class="title" >Correo electronico</h3>
                        <h4>manosquedejanhuellas@gmail.com</h4>
                    </div>
                </div>
                <div class="section">
             	<div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="text-center">Mandanos un correo</h2>
                    <form class="contact-form">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Nombre</label>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text"><i class="nc-icon nc-single-02 icon-cotac"></i></span>
                                    </div>
                                    <input #nombre nombre.value="" id="campo-nombre" type="text" class="form-control" placeholder="nombre"  >
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Email</label>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">  <i class="nc-icon nc-email-85 icon-cotac"></i></span>
                                    </div>
                                    <input #correo correo.value="" id="campo-correo" type="text" class="form-control" placeholder="Email"  >
                                </div>
                            </div>
                        </div>
                        <label>Mensaje</label>
                        <textarea #mensaje mensaje.value="" id="campo-mensaje" class="form-control" rows="4" placeholder="escribe tus pensamientos..."></textarea>
                        <div class="row">
                            <div class="col-md-4 mr-auto ml-auto">
                                <button class="btn btn-danger btn-lg btn-fill" (click)="contactar(nombre.value, correo.value, mensaje.value)" 
                                type="submit" >Enviar Mensaje</button>
                            </div>
                        </div>
                    </form>
                </div>
            	</div>
            	                <div class="row justify-content-md-center sharing-area text-center">
                    <div class="text-center col-md-12 col-lg-8">
                        <h3>Gracias por apoyarnos!</h3>
                    </div>
                    <div class="text-center col-md-12 col-lg-8">
                        <a href="https://twitter.com/dejatushuellas" class="btn btn-twitter-bg twitter-sharrre btn-round" rel="tooltip" title="Tweet!">
                             <ion-icon name="logo-twitter"></ion-icon>Twitter
                        </a>
                        <a href="https://www.instagram.com/dejatushuellas" class="btn btn-instagram-bg instagram-sharrre btn-round" rel="tooltip" title="Share!">
                           <ion-icon name="logo-instagram"></ion-icon>Instagram
                        </a>
                        <a href="https://www.facebook.com/Dejatuhuella777" class="btn btn-facebook-bg facebook-sharrre btn-round" rel="tooltip" title="Share!">
                            <ion-icon name="logo-facebook"></ion-icon> Facebook
                        </a>
                    </div>
                </div>
            	</div>
        </div>
    </div>
</ion-content>
