<ion-header>
    <nav class="navbar navbar-expand-lg bg-primary">
        <div class="container">
            <a class="navbar-brand">
                <button class="navbar-toggler ion-icon-nav" type="button" (click)="toggleMenu()">
                    <ion-icon name="menu"></ion-icon>
                </button>
                <a [routerLinkActive]="['router-link-active']" [routerLink]="['/es/home']">Manos que dejan huellas </a>
            </a>
            <div class="collapse navbar-collapse" id="navbar-menu">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <div ngbDropdown class="d-inline-block dropdown">
                            <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle>¿Quienes somos?</a>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-primary">
                                <a class="dropdown-item" href="es/quienes-somos#mision">Mision</a>
                                <a class="dropdown-item" href="es/quienes-somos#vision">Vision</a>
                                <a class="dropdown-item" href="es/quienes-somos#valores">Valores</a>
                                <a class="dropdown-item" href="es/quienes-somos#objetivos">Objetivos
                                </a>
                                <a class="dropdown-item" href="es/quienes-somos#historia">Historia
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLinkActive]="['router-link-active']" [routerLink]="['/es/publicaciones']">Publicaciones</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLinkActive]="['router-link-active']" [routerLink]="['/es/contactanos']" >Contactanos</a>
                    </li>
                    <li class="nav-item">
                        <div *ngIf="prueba==true">
                            <a class="nav-link" [routerLinkActive]="['router-link-active']" [routerLink]="['/es/usuario']" >Usuario</a>
                        </div>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.facebook.com/Dejatuhuella777">
                            <ion-icon name="logo-facebook" aria-hidden="true"></ion-icon>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://twitter.com/dejatushuellas">
                            <ion-icon name="logo-twitter" aria-hidden="true"></ion-icon>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.instagram.com/dejatushuellas">
                            <ion-icon name="logo-instagram" aria-hidden="true"></ion-icon>
                        </a>
                    </li>
                    <li class="nav-item" >
                        <a class="navbar-brand"  [routerLinkActive]="['router-link-active']" [routerLink]="['/es/login']" *ngIf="prueba==false">Entrar</a>
                        <a class="navbar-brand" (click)="logout()" *ngIf="prueba==true">Salir</a>
                        
                    </li>
                </ul>
            </div>

        </div>
    </nav>
</ion-header>

<ion-content>
            
            <!-- PAGE CONTENT -->
            <div class="work_area" >
                <!-- PAGE CONTENT WRAPPER -->
                <div class="container" >                   
                    <div class="row">
  
                        <div class="col-md-8">
                            
                            <!-- START SALES BLOCK -->
                            <div class="panel panel-default">
                                <div class="panel-body carousel slide tamano-home" data-ride="carousel">
                                     <ion-grid>
    <ion-row>
      <ion-col class="col-md-1" size="1">
  <div style="position: absolute;top: 50%;left: 16px;font-size: 25px;z-index: 2;" (click)="prevSlide(slider)">
    <ion-icon class="icon-slider-forma" name="arrow-dropleft-circle"></ion-icon>
  </div>
      </ion-col>
      <ion-col class="col-md-6" size="10">
 
    <ion-slides [options]="slideOptions" pager="true" #slider (ionSlidesDidLoad)="slidesDidLoad(slider)">
        <ion-slide padding ngbSlide *ngFor="let slider of slidershome">
            <div class="carousel-inner">
                <a [href]="slider.href"> <img class="img-fluid mx-auto d-block" style="min-height: 200px ;" [src]="slider.imagePath" alt="Random first slide" width="100%"></a>
                    <div>
                        <h3>{{slider.label}}</h3>
                        <p>{{slider.text}}</p>
                        <br/>
                    </div>
            </div>
        </ion-slide>
    
      </ion-slides>
      </ion-col>
      <ion-col  class="col-md-1" size="1">
   <div style="position: absolute;top: 50%;right: 16px;font-size: 25px;z-index: 2;" (click)="nextSlide(slider)">
    <ion-icon class="icon-slider-forma" name="arrow-dropright-circle"></ion-icon>
  </div>
      </ion-col>
    </ion-row>
  </ion-grid>                                  
                                </div>
                            </div>
                            <!-- END SALES BLOCK -->
                        </div>
                        <div class="col-md-4">
                            
                            <!-- START PROJECTS BLOCK -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                        <h3>Publicacion(es)</h3>                                 
                                </div>
                                <div class="panel-body panel-body-table">
                                    
         <ngb-carousel class="carousel slide" data-ride="carousel">
                <ng-template ngbSlide *ngFor="let slider of sliders">
                    <div  class="carousel-inner">
                    <img class="img-fluid mx-auto d-block" style="max-height: 400px" [src]="slider.imagePath" alt="Random first slide" width="100%" >

                    <div class="carousel-caption" style="background-color: rgba(0,0,0,0.3);        -moz-border-radius: 9px;
 -webkit-border-radius:9px;">

                        <h3 style="color: white">{{slider.label}}</h3>
                        <p>{{slider.text}}</p>
                    </div>
                </div>
                </ng-template>
        </ngb-carousel>

 
                   
                                </div>
                            </div>
                            <!-- END PROJECTS BLOCK -->
                            
                        </div>
                    </div>
                    
                    <div class="row">
                      <div class="col-md-4">
                            
                            <!-- START USERS ACTIVITY BLOCK -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title-box">
                           <a href="es/quienes-somos">
                                        <h3>¿Quienes somos?</h3>
                                        <span>¿Te gustaria saber mas sobre nosotros?</span>
                                    </a>
                                    </div>                                      
                                </div>                                
                                <div class="panel-body padding-0">
                                    <div class="row stacked" style="background: white">
                <div class="col-lg-5">
                    <div class="banner_content">
                                                   <a href="es/quienes-somos">
                        <p class="color-azul"><br/>Somos una fundación que desarrolla programas y proyectos que mejoren la calidad de vida y el bienestar en nuestra sociedad venezolana...</p>
                    </a>
                    </div>
                </div>      
                <div class="col-lg-6">
                    <a class="home_left_img" href="es/quienes-somos">
                        <img class="img-fluid" src="assets/img/fundacion.png" alt="">
                    </a>
                </div>
                                    </div>

            
                                </div>                                    
                            </div>
                            <!-- END USERS ACTIVITY BLOCK -->
                            
                        </div>
                        <div class="col-lg-4">
                            
                            <!-- START VISITORS BLOCK -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title-box">
                                        <h3>Redes Sociales</h3>
                                        <span>Siguenos en todas nuestras redes sociales</span>
                                    </div>
                                </div>
                                <div class="panel-body padding-0">
                                    <div class="row stacked" >
                                        <div class="col-md-5">
                                            <a href="https://www.facebook.com/Dejatuhuella777">
  <button class="social-button-circle-facebook"><ion-icon class="ion-icon-social" name="logo-facebook"></ion-icon> </button>
</a>
<a href="https://www.facebook.com/Dejatuhuella777">
  <button  class="social-button-outline-facebook"> @dejatuhuella</button>
</a>
                                        </div>
                                        <div class="col-md-5">
                                            <a href="https://twitter.com/dejatushuellas" >
                                              <button class="social-button-circle-twitter"><ion-icon class="ion-icon-social" name="logo-twitter"></ion-icon> </button>
                                              </a>
                                              <a href="https://twitter.com/dejatushuellas">
                                               <button  class="social-button-outline-twitter"> @dejatushuellas</button></a>
                                        </div>
                                        <div class="col-md-5">
  <a href="https://www.instagram.com/dejatushuellas"><button class="social-button-circle-instagram"><ion-icon class="ion-icon-social" name="logo-instagram"></ion-icon> </button></a>
  <a href="https://www.instagram.com/dejatushuellas"><button class="social-button-outline-instagram"> @dejatushuellas</button></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END VISITORS BLOCK -->
                            
                        </div>
                        
                        <div class="col-md-4">
                           
                            <!-- CONTACT ITEM -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title-box">

                           <a href="es/contactanos"> 
                                        <h3>contactanos</h3>
                                    </a>
                                    </div>
                                </div>                                
                                <div class="panel-body img-bg">

                           <a href="es/contactanos">                                     
                                    <div class="contact-info">
                                        <p><small></small><br/></p>  
                                        <p><small></small><br/></p>  
                                        <p><small>Correo Electronico</small><br/>manosquedejanhuellas@gmail.com</p>
                                        <p><small></small><br/></p>                                   
                                    </div>
                                </a>
                                </div>                                
                            </div>
                            <!-- END CONTACT ITEM --> 
                        </div>
                    </div>
                </div>
                <!-- END PAGE CONTENT WRAPPER -->                                
            </div>            
            <!-- END PAGE CONTENT -->


</ion-content>
